PORT=5004
# mongodb+srv://<user>:<password>@<cluster>.mongodb.net/EasyEatsDB_resturants?retryWrites=true&w=majority
MONGO_URI=
KAFKA_BROKER=localhost:9092

# Cloudinary (image uploads)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
