# Server Configuration
PORT=5006

# Database Configuration
# mongodb+srv://<user>:<password>@<cluster>.mongodb.net/EasyEatsDB_payments?retryWrites=true&w=majority
MONGO_URI=

# Stripe Configuration
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Kafka Configuration
KAFKA_BROKER=localhost:9092
